Repository AICoE/log-anomaly-detector, pull requests merged in 2019-08, with the labels that each got.

#187 normalize anomaly scores
  anomaly_detector/adapters/som_model_adapter.py
Labels: model-training

#191 Adding feature to allow for offline testing without triggering alerts
  anomaly_detector/config.py
  anomaly_detector/jobs/tasks.py
Labels: model-inference

#197 Add ability to process data in common log format
  .env_cmn_log_fmt_config.yaml
  anomaly_detector/storage/local_storage.py
Labels: storage

#199 Fixing database schema.
  anomaly_detector/adapters/som_model_adapter.py
  anomaly_detector/fact_store/app.py
  anomaly_detector/fact_store/fact_store_api.py
  anomaly_detector/fact_store/model.py
  anomaly_detector/fact_store/templates/index.html
  tests/test_factstore.py
Labels: architecture design decision, fact-store, storage

#200 Better handling of false positives.
  .env_cmn_log_fmt_config.yaml
  anomaly_detector/adapters/feedback_strategy.py
  anomaly_detector/adapters/som_model_adapter.py
  load_test/run.sh
Labels: model-inference
